h1 {
  margin: 0.1em 0;
  font-size: 8em;
  color: rgb(196, 164, 61);
  font-family: monospace;
}

h2{
  margin: 0.1em 0;
  font-size: 1.4em;
  font-family: monospace;
}

.short-description {
  margin: 2em auto 0;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  max-width: 600px;
  line-height: 1.4em;
  font-family: monospace;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.background-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
  filter: blur(6px);
}
.home-container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a0136;
  z-index: -2;
}
.home-buttons-container{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 16px auto;
  justify-content: center;
  gap: 12px;
}
.home-button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #222;
  color: white;
  font-family: monospace;
  width: 120px;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: 1px solid #555;
}

.home-button:first-child {
  background-color: rgb(196, 164, 61);
  color: black;
  outline: none;
}

.home-button:hover {
  background-color: #000;
}

.home-button:first-child:hover {
  background-color: rgb(146, 123, 45);
  color: white;
}
