.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 10;
}
.header a{
  text-decoration: none;
  color: #fff6;
  font-family: monospace;
  font-size: 1.2em;
  transition: color 0.3s ease;
}
.header a:hover{
  color: white;
  text-decoration: underline;
}
h1 {
  margin: 0.1em 0;
  font-size: 5em;
  font-family: monospace;
}

.home-container h1{
  color: rgb(196, 164, 61);
}

@media (min-width: 600px) {
    .home-container h1{
      overflow: hidden;
      white-space: nowrap;
      border-right: 0.15em solid rgb(196, 164, 61);
      animation:
        typing 2s steps(14),
        cursor 0.4s step-end infinite alternate;
  }
}

@keyframes cursor {
  50% { border-right-color: transparent }
}

@keyframes typing {
  from { width: 0 }
  to { width: 14ch }
}

h2{
  margin: 0.1em 0;
  font-size: 1.4em;
  font-family: monospace;
}

.short-description {
  margin: 2em auto 0;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.75);
  width: 80%;
  max-width: 600px;
  line-height: 1.4em;
  font-family: monospace;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
}
.background-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
  filter: blur(6px);
}
.home-container::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a0136;
  z-index: -2;
}
.home-buttons-container{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 16px auto;
  justify-content: center;
  gap: 12px;
}
.home-button, .link-button {
  padding: 0.8em 1.5em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #222;
  color: white;
  font-family: monospace;
  width: 120px;
  transition: background-color 0.3s ease, color 0.3s ease;
  outline: 1px solid #555;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button:first-child {
  background-color: rgb(196, 164, 61);
  color: black;
  outline: none;
}

.home-button:hover, .link-button:hover {
  background-color: #000;
}

.home-button:first-child:hover {
  background-color: rgb(177, 147, 49);
}

.button-icon{
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.invert{
  filter: invert(1);
}

/* SOBRE MIM */

.about-container{
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
.about-container>.image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 16px;
  border: 2px solid #222;
  outline: 6px solid white;
}
.about-container>.image-container>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.about-container>.image-container>img:hover{
  transform: scale(1.05);
}
.about-container>.content{
  max-width: 60%;
}
.link-button{
  width: 200px
}

@keyframes appear{
  0% { opacity: 0; transform: translateY(60px); }
  50% { opacity: 1; transform: translateY(0); }
}

.appear{
  animation: appear linear;
  animation-timeline: view();
}

/* Habilidades */

.skills-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #121212;
  box-shadow: inset 0 0 10px #000;
}
.skills-container h1{
  margin-bottom: 40px;
}
.skills-list{
  display: flex;
  width: 80%;
  max-width: 800px;
  justify-content: center;
  gap: 6px;
  background: transparent;
  /* box-shadow: 0px 0px 20px rgb(196, 164, 61); */
}
.skills-group h2{
  font-size: 1.8em;
  border-bottom: 6px solid rgb(196, 164, 61);
}
.skills-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 100%;
  background-color: #020202;
  border-radius: 12px;
  padding: 16px 0;
  box-shadow: 0px 0px 5px rgb(196, 164, 61);
  transition: 200ms ease;
}
.skills-group:hover{
  box-shadow: 0px 0px 10px rgb(196, 164, 61);
  z-index: 5;
}
.skill-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1em;
  transition: 0.3s ease;
  margin: 12px 0;
}
.skill-tag i{
  font-size: 1.4em;
}
.skill-tag:hover{
  color: rgb(196, 164, 61);
  transform: scale(1.05);
}

/* Projects */

.projects-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.projects-container h1{
  margin-bottom: 40px;
}
.projects-container .content{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 60px;
  background-color: #121212;
  box-shadow: inset 0 0 10px #000;
  border-radius: 20px;
}
.project-card{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 8px;
  transition: 0.3s ease;
}
.project-card .project-techs{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 8px;
  font-size: 0.9em;
  color: #aaa
}
.project-card .project-techs span{
  background-color: #111;
  padding: 4px 8px;
  border-radius: 8px;
}
.project-card:hover{
  box-shadow: 0 0 20px rgb(196, 164, 61);
}
.project-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.project-card h2{
  margin: 0 8px;
}
.project-card p{
  margin: 0 8px;
  flex-grow: 1;
}
.project-card .project-links{
  margin-top: 12px;
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}
.project-card .project-links a{
  text-decoration: none;
  color: #fff;
  font-family: monospace;
  outline: 1px solid #555;
  font-weight: bold;
  padding: 8px;
  background-color: #111;
  border-radius: 8px;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
}
.project-card .project-links a:hover{
  filter: brightness(.7);
  transform: scale(1.05);
}
.project-card .project-links a:first-child{
  background-color: rgb(196, 164, 61);
  color: black;
}
.project-card .project-links a img{
  width: 13px;
  height: 13px;
  margin-right: 6px;
  filter: invert(1);
}
.project-card .project-links a:first-child img{
  filter: none;
}

/* Footer */

.footer-container {
  background-color: #282c34;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-info {
  margin-bottom: 20px;
}

.social-media {
  margin-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-link {
  color: #61dafb;
  text-decoration: none;
}